
<div id="frame" ng-controller="mainCtrl">
	<div id="toolbar" class="btn-group">
		<button type="button" class="btn btn-info" id="save"
			style="margin-top: 2px; margin-right: 5px; padding: 3px 12px">
			保存</button>
		<button type="button" class="btn btn-info" id="delete"
			style="margin-top: 2px; margin-right: 5px; padding: 3px 12px">
			删除</button>
	</div>
	<table id="table" class="table table-hover" data-toggle="table"
		data-url="rest/Uploadinfo/queryAll" data-resizable="true"
		data-show-refresh="true" data-pagination="true"
		data-row-style="rowStyle" data-page-list="[10, 20, 50,100,500,1000]"
		data-sort-name="name" data-sort-order="desc" data-search="true"
		data-toolbar="#toolbar" data-height="800" data-show-columns="true"
		data-show-export="true">
		<thead>
			<tr>
				<th data-field="state" data-align="center" data-valign="middle"
					data-checkbox="true" data-visible="true"></th>
				<th data-align="center" data-formatter="runningFormatter">编号</th>
				<th data-field="name">Name</th>
				<th data-field="telephone">telephone</th>
				<th data-field="content">content</th>
				<th data-field="dataTime">dataTime</th>
			</tr>
		</thead>
	</table>
</div>
