
<div id="frame"></div>
<div id="left-panel" class="" style="height: 415px;" ng-controller="mapCtrl">
	<div id="searchbox" class="clearfix"></div>
	<ul id="cards-level0" class="cardlist"></ul>
	<ul id="cards-level1" class="cardlist"></ul>
	<ul id="cards-level2" class="cardlist"></ul>
</div>
<div id="right-top">
	<div class="toolpanel">
		<span class="glyphicon glyphicon-map-marker"
			style="top: 0px; color: red"> <!-- <img src="images/Marker.png" width="16px" height="16px"> -->
			<span id="place">天气</span> <!-- <span class="caret"></span> -->
		</span> <span id="road"><i class="fa fa-road"></i>路况信息</span> <span id="tool"><i
			class="fa fa-briefcase"></i>工具<span class="caret"></span></span>
	</div>
	<div class="detail-box" style="display: none;">
		<ul id="boxul" class="boxinfo">
			<li id="measure"><img src="images/Length.png"><i>测距</i></li>
			<li id="marker"><span class="glyphicon glyphicon-map-marker">
			</span><i>标记</i></li>
			<li id="clearAll"><span class="glyphicon glyphicon-trash">
			</span><i>清除</i></li>
		</ul>
	</div>

</div>
